/* font
font-family: 'Open Sans Condensed', sans-serif;
*/

/* header */
.wrapper{
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 130px;
  background-color: #ffffff;
  z-index: 9999;
}

header h1{
  margin-top: 40px;
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
}

header nav{
  float: right;
}

header nav ul{
  list-style: none;
  display: inline-block;
}

header nav ul li{
  float: left;
  margin: 57px 0 0 60px;
}

header nav ul li a{
  color: #4d4d4d;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  border-bottom: 1px #ffffff solid;
}

header nav ul li a:hover{
  border-bottom: 1px #4d4d4d solid;
}

/* billoard */
.billboard{
  width: 100%;
  height: 650px;
  background: url('../img/billboard_img.jpg') no-repeat;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.billboard .caption{
  margin-top: 230px;
}

.billboard .caption .cap_title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  color: #4d4d4d;
  margin-bottom: 30px;
}

.billboard .caption .cap_desc{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #4d4d4d;
  margin-bottom: 60px;
}

.billboard .caption a{
  padding: 15px 80px;
  background: #4d4d4d;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
}

.billboard .caption a:hover{
  background: #ffffff;
  color: #4d4d4d;
}

.billboard .caption a i{
  width: 17px;
  height: 5px;
  display: inline-block;
  background: url('../img/right_arrow.png') no-repeat;
  margin: 0 0 4px 6px;
}

.billboard .caption a:hover i{
	background: url('../img/right_arrow_black.png') no-repeat;
}

/* Services */
.services ul{
  list-style: none;
  display: block;
  margin: 100px 0;
  text-align: center;
  overflow: hidden;
}

.services ul li{
  float: left;
  width: 346px;
  margin-right: 80px;
}

.services ul li:last-child{
  margin-right: 0;
}

.services ul li .s_icons, .services ul li h3{
  margin-bottom: 40px;
}

.services ul li h3{
  font-family: 'Open Sans Condensed', arial;
  font-weight: bold;
  font-size: 35px;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 50;
}

.services ul li p{
  font-family: 'Open Sans Condensed', arial;
  font-weight: bold;
  color: #727272;
  font-size: 20px;
  line-height: 22px;
}

/* video */
.video{
  text-align: center;
  border-top: 1px #e7e7e7 solid;
  border-bottom: 1px #e7e7e7 solid;
  margin-bottom: 100px;
  padding-top: 100px;
}

.video h3{
  font-family: 'Open Sans Condensed', arial;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-bottom: 20px;
}

.video p{
  display: inline-block;
  width: 600px;
  font-family: 'Open Sans Condensed', arial;
  font-size: 20px;
  color: #727272;
  margin-bottom: 80px;
  line-height: 24px;
}

.video .exvideo{
  margin-bottom: -3px;
}

/* recent work */
.recent_work{
  margin-bottom: 100px;
  overflow: hidden;
}
