/* font
font-family: 'Open Sans Condensed', sans-serif;
*/

/* header */
.wrapper{
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 130px;
  background-color: #ffffff;
  z-index: 9999;
}

header h1{
  margin-top: 40px;
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
}

header nav{
  float: right;
}

header nav ul{
  list-style: none;
  display: inline-block;
}

header nav ul li{
  float: left;
  margin: 57px 0 0 60px;
}

header nav ul li a{
  color: #4d4d4d;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  border-bottom: 1px #ffffff solid;
}

header nav ul li a:hover{
  border-bottom: 1px #4d4d4d solid;
}

/* billoard */
.billboard{
  width: 100%;
  height: 650px;
  background: url('../img/billboard_img.jpg') no-repeat;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.billboard .caption{
  margin-top: 230px;
}

.billboard .caption .cap_title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  color: #4d4d4d;
  margin-bottom: 30px;
}

.billboard .caption .cap_desc{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #4d4d4d;
  margin-bottom: 60px;
}

.billboard .caption a{
  padding: 15px 80px;
  background: #4d4d4d;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
}

.billboard .caption a:hover{
  background: #ffffff;
  color: #4d4d4d;
}

.billboard .caption a i{
  width: 17px;
  height: 5px;
  display: inline-block;
  background: url('../img/right_arrow.png') no-repeat;
  margin: 0 0 4px 6px;
}

.billboard .caption a:hover i{
	background: url('../img/right_arrow_black.png') no-repeat;
}
